body {
  border: 0;
  background:  black;
  color: #000; 
  margin: 0px; 
  padding: 0px; 
  -webkit-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;

}

.button {
        -webkit-user-select:none;
        -moz-user-select:none;
        -khtml-user-select:none;
        font-size:70pt;
        color: #FFF;
        text-align: center;
        border-radius: 3px;
         z-index: 2; 
        background-color: rgba(26, 143, 228, 0.24);
         align: center;
         position: absolute; 
         padding: 10px; 
    cursor: pointer;
}


.button:hover {
  background: #555;
}

.button:active {
    background: #272727;
    box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}


#splash {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  font-size: 1.1em;
  min-height: 10em; 
  width: 30em;
  margin-top: -10em;
  margin-left: -15em;
  z-index: 3;
  background-color: rgba(26, 143, 228, 0.94);
  border: 0;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}